.main-container {
    position: relative;
}

.login-container {
    position: absolute;
    top: 40px;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .login-container {
        position: relative;
        top: 0;
    }
}