<section class="container mt-5 main-container">
    <div class="row bg-2 px-md-5 px-2 py-3 mx-1 mx-sm-0">
        <div class="col-lg-9">
            <h3 class="mt-4 mt-lg-0">Dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam commodi corrupti ea ipsa? Quos labore error optio, eaque libero soluta doloribus perspiciatis repellendus! Nulla voluptate veritatis, aliquid vitae laudantium vel.</p>
            <p>Última decha de actualziación: 02/25/2020</p>
        </div>
    </div>
    <div class="row justify-content-end mx-1 mx-sm-0">
        <div class="col-lg-4  mt-4 mt-lg-0 bg-dark text-white rounded content-container p-3">
            <p class="text-uppercase"><b>Requisitos</b></p>
            <ol>
                <li>Conceptos básicos del dolor</li>
                <li>Mecanismos Fisiopatológicos</li>
                <li>Diseño Tisular</li>
            </ol>
        </div>
    </div>
</section>
<section class="container">
    <div class="row flex-column-reverse flex-lg-row equalize justify-content-between mx-1 mx-sm-0">
        <div class="col-lg-6 mt-5 mt-lg-0 content-container-2">
            <h3>Contenidos</h3>
            <hr>

            <div class="row align-items-center">
                <div class="col-sm-4">
                    <img class="align-self-center img-fluid" src="/assets/img/image-2.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-sm-8 mt-4 mt-sm-0">
                    <h5 class="mt-0">Introducción</h5>
                    <small class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</small>
                </div>
            </div>
            <hr>
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <img class="align-self-center img-fluid" src="/assets/img/image-2.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-sm-8 mt-4 mt-sm-0">
                    <h5 class="mt-0">Introducción</h5>
                    <small class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</small>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0 text-white content-container-3 px-0">

            <div class="bg-secondary p-3 rounded">



                <p class="text-uppercase"><b>Lo que aprenderás</b></p>
                <ol>
                    <li>Conceptos básicos del dolor</li>
                    <li>Mecanismos Fisiopatológicos</li>
                    <li>Diseño Tisular</li>
                </ol>

            </div>
        </div>
    </div>
</section>