<section class="container">
    <div class="row pt-5">
        <div class="col-md-7 col-lg-9">
            <h4>Farmacología</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, modi, nihil eaque illum labore iusto quisquam fugiat eligendi deleniti vitae recusandae tempore dolorem ab quam at ducimus aliquid error optio natus doloribus amet nobis.</p>
        </div>
        <div class="col-md-5 col-lg-3">

            <div class="media">
                <div class="media-body text-center">
                    <h5 class="pt-3 mb-0">Jorge Hurtado</h5>
                    <p><small>Lorem ipsum dolor sit amet.</small></p>
                </div>
                <img class="rounded-circle align-self-center" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="60" alt="Generic placeholder image">
            </div>
        </div>
    </div>

    <div class="row p-4 px-lg-5">
        <div class="col px-lg-5">
            <owl-carousel-o [options]="customOptions" class="">
                <ng-template carouselSlide>
                    <!-- card -->
                    <div class="card px-3 pt-3">
                        <img class="card-img-top" src="/assets/img/image.jpg" alt="Card image cap">
                        <div class="card-body text-right px-0">
                            <h5 class="card-title text-left">Title</h5>
                            <p class="card-text text-justify "><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, eius quasi quisquam qui rerum praesentium sapiente obcaecati ut nulla nesciun</small></p>
                            <a routerLink="/post"><small>Ver más ></small></a>
                        </div>
                    </div>
                    <!-- card end-->
                </ng-template>
                <ng-template carouselSlide>
                    <!-- card -->
                    <div class="card px-3 pt-3">
                        <img class="card-img-top" src="/assets/img/image.jpg" alt="Card image cap">
                        <div class="card-body text-right px-0">
                            <h5 class="card-title text-left">Title</h5>
                            <p class="card-text text-justify "><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, eius quasi quisquam qui rerum praesentium sapiente obcaecati ut nulla nesciun</small></p>
                            <a routerLink="/post"><small>Ver más ></small></a>
                        </div>
                    </div>
                    <!-- card end-->
                </ng-template>
                <ng-template carouselSlide>
                    <!-- card -->
                    <div class="card px-3 pt-3">
                        <img class="card-img-top" src="/assets/img/image.jpg" alt="Card image cap">
                        <div class="card-body text-right px-0">
                            <h5 class="card-title text-left">Title</h5>
                            <p class="card-text text-justify "><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, eius quasi quisquam qui rerum praesentium sapiente obcaecati ut nulla nesciun</small></p>
                            <a routerLink="/post"><small>Ver más ></small></a>
                        </div>
                    </div>
                    <!-- card end-->
                </ng-template>
                <ng-template carouselSlide>
                    <!-- card -->
                    <div class="card px-3 pt-3">
                        <img class="card-img-top" src="/assets/img/image.jpg" alt="Card image cap">
                        <div class="card-body text-right px-0">
                            <h5 class="card-title text-left">Title</h5>
                            <p class="card-text text-justify "><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, eius quasi quisquam qui rerum praesentium sapiente obcaecati ut nulla nesciun</small></p>
                            <a routerLink="/post"><small>Ver más ></small></a>
                        </div>
                    </div>
                    <!-- card end-->
                </ng-template>


            </owl-carousel-o>

        </div>
    </div>
</section>