/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.bg {
    background-color: #264653;
}

.bg-2 {
    background-color: #E0F7FA;
}

.cursor-pointer {
    cursor: pointer;
}